[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nate60
[access "refs/for/refs/*"]
	read = group user/Nate60
	push = group user/Nate60
	label-Code-Review = -2..+2 group user/Nate60
	label-Verified = -1..+1 group user/Nate60
	rebase = group user/Nate60
	removeReviewer = group user/Nate60
	submit = group user/Nate60
[access "refs/heads/*"]
	read = group user/Nate60
	create = group user/Nate60
	push = +force group user/Nate60
	pushMerge = group user/Nate60
[access "refs/tags/*"]
	push = group user/Nate60
	push = +force group user/Nate60
